<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_ROOT_LOCATION" value="logs" />
    <property name="LOG_PATTERN" value="%d [%t] %-5level %logger{36} [Line number: %L] - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_LOCATION}/current-audit.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <!-- Deny all events with a level below WARN, that is INFO, TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_LOCATION}/audit.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Deny all events with a level below INFO, that is TRACE and DEBUG -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="AUDIT" />
    </root>

</configuration>
